example_code_AggSUM/main.prj/*
group_count_AVX512/CMakeFiles/*

group_count_FPGA/main.prj/*

group_count_AVX512/CMakeCache.txt

group_count_FPGA_singleKernel/v1/main.prj/*
group_count_FPGA_singleKernel/v2/main.prj/*
group_count_FPGA_singleKernel/v3/main.prj/*
group_count_FPGA_singleKernel/v4/main.prj/*
group_count_FPGA_singleKernel/v5/main.prj/*

group_count_FPGA_singleKernel/v1_inner512bits/main.prj/*
group_count_FPGA_singleKernel/v2_inner512bits/main.prj/*
group_count_FPGA_singleKernel/v3_inner512bits/main.prj/*
group_count_FPGA_singleKernel/v4_inner512bits/main.prj/*
group_count_FPGA_singleKernel/v5_inner512bits/main.prj/*

group_count_FPGA_singleKernel/v1_2048bit_permanent/main.prj/*
group_count_FPGA_singleKernel/v2_2048bit_permanent/main.prj/*
group_count_FPGA_singleKernel/v3_2048bit_permanent/main.prj/*

group_count_FPGA_singleKernel/zOnlyEmulationWorking/v4_2048bit_permanent//main.prj/*
group_count_FPGA_singleKernel/zOnlyEmulationWorking/v5_2048bit_permanent//main.prj/*


group_count_FPGA_v5_oM/*


FPGA-SIMD-Sandbox.tar.gz

group_count_FPGA_singleKernel/v1/.ipynb_checkpoints/*
group_count_FPGA_singleKernel/v2/.ipynb_checkpoints/*
group_count_FPGA_singleKernel/v3/.ipynb_checkpoints/*
group_count_FPGA_singleKernel/v4/.ipynb_checkpoints/*
group_count_FPGA_singleKernel/v5/.ipynb_checkpoints/*
group_count_FPGA_singleKernel/v4.tar.gz

group_count_FPGA_singleKernel/v5_inner512bits_scalarRemainder/*
group_count_FPGA_singleKernel/v5_inner512bits_twoKernel/*
group_count_FPGA_singleKernel/v1_inner512bits32X/*